{{define "styles"}}
<style type="text/css">
body {
    background-color: #f6f6f6;
}

p {
font-family: 'Helvetica Neue', Verdana, sans-serif;
color: #107A94;
}
/* -------------------------------------
    LINKS & BUTTONS
------------------------------------- */
a {
    color: #348eda;
    text-decoration: underline;
}

.btn-primary {
    text-decoration: none;
    color: #FFF;
    background-color: #348eda;
    border: solid #348eda;
    border-width: 10px 20px;
    line-height: 2em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    text-transform: capitalize;
}

footer {
    background-color: #8AB8CE;
}

</style>
{{end}}